<!DOCTYPE html>
	<html>
	<head>
		<title>Authentication</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css">
	</head>
	<body>
		<div class="container" style="padding-top: 20px;">
			<div class="page-header text-center">
				<h1><span class="fa fa-anchor"></span> User Profile</h1>
				<a href="/logout" class="btn btn-default btn-sm">Logout</a>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="well">
						<h3><span class="fa fa-user"></span> Local</h3>
						<p>
							<strong>Id</strong> : <%= user.id %><br>
							<strong>Email</strong> : <%= user.local.email %><br>
							<strong>Password</strong> : <%= user.local.password %>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>